html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.alert {
    margin-bottom: 0;
}

.btn {
    height: 48px;
    width: max-content;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.selfie-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100vw;
    padding: 20px;
}

.selfie-content {
    display: flex;
}

.video-content, .result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-content {
    margin-right: 20px;
}

.result-content {
    display: none;
}

#publish, #snap {
    margin-top: 10px;
}

#snap {
    display: none;
}

.photos-content-wrapper {
    padding: 20px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
}

.photos .photo {
    display: block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 360px;
    height: 240px;
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.error-wrapper, .server-error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.error-wrapper {
    display: none;
}

.error-wrapper h1 {
    max-width: 75%;
    text-align: center;
}

#video {
    transform: rotateY(180deg);
}

#unauthorize {
    display: none;
}

#unauthorize, #authorize {
    margin-right: 60px;
}

.left-header-content {
    display: flex;
}

.user-info {
    display: none;
    margin-right: 20px;
    align-items: center;
}

#user-name {
    font-weight: 900;
}

.your-photos-text {
    display: flex;
    justify-content: center;
}